In [1]:
import pandas as pd
import numpy as np
import mysql.connector as conn
import warnings
warnings.filterwarnings('ignore')

In [2]:
mydb=conn.connect(host='localhost', user='root', password='password',auth_plugin='mysql_native_password')

In [3]:
cur=mydb.cursor(buffered=True)

In [4]:
cur.execute('use music_store')

In [5]:
cur.execute('show tables')
table_list=[table[0] for table in cur.fetchall()]

In [6]:
table_list

['album',
 'artist',
 'customer',
 'employee',
 'genre',
 'invoice',
 'invoice_line',
 'media_type',
 'playlist',
 'playlist_track',
 'track']

In [7]:
df=pd.read_sql_query('select * from album',mydb)
df.head()

   album_id                                  title  artist_id
0         1  For Those About To Rock We Salute You          1
1         2                      Balls to the Wall          2
2         3                      Restless and Wild          2
3         4                      Let There Be Rock          1
4         5                               Big Ones          3

In [8]:
print(df.shape)
print(df.size)

(347, 3)
1041

In [9]:
cur.execute('select * from album')
cur.description

[('album_id', 3, None, None, None, None, 1, 32768, 63),
 ('title', 252, None, None, None, None, 1, 16, 255),
 ('artist_id', 3, None, None, None, None, 1, 32768, 63)]

In [10]:
column=[i[0] for i in cur.description]
print(column)

['album_id', 'title', 'artist_id']

In [11]:
#Checking for datatypes
for table in table_list:
    print('\nTable:',table)
    column_info=cur.execute(f'''select column_name, data_type from Information_schema.columns where table_schema=
    "music_store" and table_name = "{table}" ''')
    for i in cur.fetchall():
        print(i)

Table: album
('album_id', 'int')
('title', 'text')
('artist_id', 'int')

Table: artist
('artist_id', 'int')
('name', 'text')

Table: customer
('customer_id', 'int')
('first_name', 'text')
('last_name', 'text')
('company', 'text')
('address', 'text')
('city', 'text')
('state', 'text')
('country', 'text')
('postal_code', 'text')
('phone', 'text')
('fax', 'text')
('email', 'text')
('support_rep_id', 'int')

Table: employee
('employee_id', 'int')
('last_name', 'text')
('first_name', 'text')
('title', 'text')
('reports_to', 'int')
('levels', 'text')
('birthdate', 'text')
('hire_date', 'text')
('address', 'text')
('city', 'text')
('state', 'text')
('country', 'text')
('postal_code', 'text')
('phone', 'text')
('fax', 'text')
('email', 'text')

Table: genre
('genre_id', 'int')
('name', 'text')

Table: invoice
('invoice_id', 'int')
('customer_id', 'int')
('invoice_date', 'text')
('billing_address', 'text')
('billing_city', 'text')
('billing_state', 'text')
('billing_country', 'text')
('billing_postal_code', 'text')
('total', 'double')

Table: invoice_line
('invoice_line_id', 'int')
('invoice_id', 'int')
('track_id', 'int')
('unit_price', 'double')
('quantity', 'int')

Table: media_type
('media_type_id', 'int')
('name', 'text')

Table: playlist
('playlist_id', 'int')
('name', 'text')

Table: playlist_track
('playlist_id', 'int')
('track_id', 'int')

Table: track
('track_id', 'int')
('name', 'text')
('album_id', 'int')
('media_type_id', 'int')
('genre_id', 'int')
('composer', 'text')
('milliseconds', 'int')
('bytes', 'int')
('unit_price', 'double')

In [12]:
#Checking for null values
for table in table_list:
    print('\nTable: ',table)
    df_table=pd.read_sql_query(f'select * from {table}',mydb)
    print(df_table.isnull().sum())

Table:  album
album_id     0
title        0
artist_id    0
dtype: int64

Table:  artist
artist_id    0
name         0
dtype: int64

Table:  customer
customer_id       0
first_name        0
last_name         0
company           0
address           0
city              0
state             0
country           0
postal_code       0
phone             0
fax               0
email             0
support_rep_id    0
dtype: int64

Table:  employee
employee_id    0
last_name      0
first_name     0
title          0
reports_to     0
levels         0
birthdate      0
hire_date      0
address        0
city           0
state          0
country        0
postal_code    0
phone          0
fax            0
email          0
dtype: int64

Table:  genre
genre_id    0
name        0
dtype: int64

Table:  invoice
invoice_id             0
customer_id            0
invoice_date           0
billing_address        0
billing_city           0
billing_state          0
billing_country        0
billing_postal_code    0
total                  0
dtype: int64

Table:  invoice_line
invoice_line_id    0
invoice_id         0
track_id           0
unit_price         0
quantity           0
dtype: int64

Table:  media_type
media_type_id    0
name             0
dtype: int64

Table:  playlist
playlist_id    0
name           0
dtype: int64

Table:  playlist_track
playlist_id    0
track_id       0
dtype: int64

Table:  track
track_id         0
name             0
album_id         0
media_type_id    0
genre_id         0
composer         0
milliseconds     0
bytes            0
unit_price       0
dtype: int64

In [13]:
# 1. Who is the senior most employee based on job title?
emp=pd.read_sql_query('select * from employee',mydb)
emp.head(2)

,employee_id,last_name,first_name,title,reports_to,levels,birthdate,hire_date,address,city,state,country,postal_code,phone,fax,email
0,1,Adams,Andrew,General Manager,9,L6,18-02-1962 00:00,14-08-2016 00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1,L4,08-12-1958 00:00,01-05-2016 00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com

In [14]:
cur.execute('select concat(first_name," ", last_name) as full_name,levels from employee order by levels desc limit 1')
cur.fetchall()

[('Andrew Adams', 'L6')]

In [15]:
#2. Which countries have the most Invoices?
cur.execute('select count(*) as Number_of_invoices, billing_country from invoice group by billing_country order by Number_of_invoices desc limit 1')
cur.fetchall()

[(131, 'USA')]

In [16]:
# Q3) What are top 3 values of total invoice?
invoice=pd.read_sql_query('select * from invoice',mydb)
invoice.head(2)

,invoice_id,customer_id,invoice_date,billing_address,billing_city,billing_state,billing_country,billing_postal_code,total
0,1,18,2017-01-03 00:00:00,627 Broadway,New York,NY,USA,10012-2612,15.84
1,2,30,2017-01-03 00:00:00,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,9.90

In [17]:
cur.execute('select total from invoice order by total desc limit 3')
cur.fetchall()

[(23.759999999999998,), (19.8,), (19.8,)]

In [18]:
# Q4) Which city has the best customers? We would like to throw a promotional music festival in the city we made the most money. 
# Write a query that returns one city that has the highest sum of invoices totals. Return both the city name & sum of all invoices
# totals
cur.execute('select billing_city,sum(total) as invoice_total from invoice group by billing_city order by invoice_total desc limit 1')
cur.fetchall()

[('Prague', 273.24000000000007)]

In [19]:
# Q5) Who is the best customer? The customer who has spent the most money will be declared as the best customer.
# Write a query that returns the person who has spent the most money.
cur.execute('select concat(c.first_name, " ", c.last_name)as full_name, sum(i.total) as total from customer as c join invoice as i on c.customer_id=i.customer_id group by i.customer_id order by total desc limit 1')
cur.fetchall()

[('FrantiÅ¡ek WichterlovÃ¡', 144.54000000000002)]

In [20]:
# Q6) Write a query to return the email, first name, last name and genre of all rock music listeners.
# Return your list alphabetically by email starting with A.
cur.execute('''select distinct email, concat(first_name, " ", last_name) as full_name from customer join invoice on 
customer.customer_id = invoice.customer_id join invoice_line on invoice.invoice_id = invoice_line.invoice_id where track_id in 
(select track_id from track join genre on track.genre_id=genre.genre_id where genre.name like "Rock") order by email''')
cur.fetchall()

[('aaronmitchell@yahoo.ca', 'Aaron Mitchell'),
 ('alero@uol.com.br', 'Alexandre Rocha'),
 ('astrid.gruber@apple.at', 'Astrid Gruber'),
 ('bjorn.hansen@yahoo.no', 'BjÃ¸rn Hansen'),
 ('camille.bernard@yahoo.fr', 'Camille Bernard'),
 ('daan_peeters@apple.be', 'Daan Peeters'),
 ('diego.gutierrez@yahoo.ar', 'Diego GutiÃ©rrez'),
 ('dmiller@comcast.com', 'Dan Miller'),
 ('dominiquelefebvre@gmail.com', 'Dominique Lefebvre'),
 ('edfrancis@yachoo.ca', 'Edward Francis'),
 ('eduardo@woodstock.com.br', 'Eduardo Martins'),
 ('ellie.sullivan@shaw.ca', 'Ellie Sullivan'),
 ('emma_jones@hotmail.com', 'Emma Jones'),
 ('enrique_munoz@yahoo.es', 'Enrique MuÃ±oz'),
 ('fernadaramos4@uol.com.br', 'Fernanda Ramos'),
 ('fharris@google.com', 'Frank Harris'),
 ('fralston@gmail.com', 'Frank Ralston'),
 ('frantisekw@jetbrains.com', 'FrantiÅ¡ek WichterlovÃ¡'),
 ('ftremblay@gmail.com', 'FranÃ§ois Tremblay'),
 ('fzimmermann@yahoo.de', 'Fynn Zimmermann'),
 ('hannah.schneider@yahoo.de', 'Hannah Schneider'),
 ('hholy@gmail.com', 'Helena HolÃ½'),
 ('hleacock@gmail.com', 'Heather Leacock'),
 ('hughoreilly@apple.ie', "Hugh O'Reilly"),
 ('isabelle_mercier@apple.fr', 'Isabelle Mercier'),
 ('jacksmith@microsoft.com', 'Jack Smith'),
 ('jenniferp@rogers.ca', 'Jennifer Peterson'),
 ('jfernandes@yahoo.pt', 'JoÃ£o Fernandes'),
 ('joakim.johansson@yahoo.se', 'Joakim Johansson'),
 ('johavanderberg@yahoo.nl', 'Johannes Van der Berg'),
 ('johngordon22@yahoo.com', 'John Gordon'),
 ('jubarnett@gmail.com', 'Julia Barnett'),
 ('kachase@hotmail.com', 'Kathy Chase'),
 ('kara.nielsen@jubii.dk', 'Kara Nielsen'),
 ('ladislav_kovacs@apple.hu', 'Ladislav KovÃ¡cs'),
 ('leonekohler@surfeu.de', 'Leonie KÃ¶hler'),
 ('lucas.mancini@yahoo.it', 'Lucas Mancini'),
 ('luisg@embraer.com.br', 'LuÃ\xads GonÃ§alves'),
 ('luisrojas@yahoo.cl', 'Luis Rojas'),
 ('manoj.pareek@rediff.com', 'Manoj Pareek'),
 ('marc.dubois@hotmail.com', 'Marc Dubois'),
 ('mark.taylor@yahoo.au', 'Mark Taylor'),
 ('marthasilk@gmail.com', 'Martha Silk'),
 ('masampaio@sapo.pt', 'Madalena Sampaio'),
 ('mphilips12@shaw.ca', 'Mark Philips'),
 ('nschroder@surfeu.de', 'Niklas SchrÃ¶der'),
 ('patrick.gray@aol.com', 'Patrick Gray'),
 ('phil.hughes@gmail.com', 'Phil Hughes'),
 ('ricunningham@hotmail.com', 'Richard Cunningham'),
 ('rishabh_mishra@yahoo.in', 'Rishabh Mishra'),
 ('robbrown@shaw.ca', 'Robert Brown'),
 ('roberto.almeida@riotur.gov.br', 'Roberto Almeida'),
 ('stanisÅ‚aw.wÃ³jcik@wp.pl', 'StanisÅ‚aw WÃ³jcik'),
 ('steve.murray@yahoo.uk', 'Steve Murray'),
 ('terhi.hamalainen@apple.fi', 'Terhi HÃ¤mÃ¤lÃ¤inen'),
 ('tgoyer@apple.com', 'Tim Goyer'),
 ('vstevens@yahoo.com', 'Victor Stevens'),
 ('wyatt.girard@yahoo.fr', 'Wyatt Girard')]

In [21]:
#Q7 Let's invite the artists who have written the most rock music in our dataset. Write a query that returns the Artist name 
# and total track count of the top 10 rock bands.
cur.execute('''select artist.artist_id,artist.name,count(track.track_id) as track_count from artist join album 
on artist.artist_id=album.artist_id join track on album.album_id=track.album_id join genre
on track.genre_id=genre.genre_id where genre.name like "Rock" group by artist.artist_id order by track_count desc limit 10''')
cur.fetchall()

[(1, 'AC/DC', 18),
 (3, 'Aerosmith', 15),
 (8, 'Audioslave', 14),
 (22, 'Led Zeppelin', 14),
 (4, 'Alanis Morissette', 13),
 (5, 'Alice In Chains', 12),
 (23, 'Frank Zappa & Captain Beefheart', 9),
 (2, 'Accept', 4)]

In [22]:
#Q8 Return all the track names that have a song length longer than the average song length. Return the Name and Milliseconds
# for each track. Order by the song length with the longest songs listed first.
cur.execute('''select name,milliseconds from track where milliseconds > (select avg(milliseconds) from track) 
order by milliseconds desc''')
cur.fetchall()

[('How Many More Times', 711836),
 ('Advance Romance', 677694),
 ('Sleeping Village', 644571),
 ('You Shook Me(2)', 619467),
 ("Talkin' 'Bout Women Obviously", 589531),
 ('Stratus', 582086),
 ('No More Tears', 555075),
 ('The Alchemist', 509413),
 ('Wheels Of Confusion / The Straightener', 494524),
 ('Book Of Thel', 494393),
 ('You Oughta Know (Alternate)', 491885),
 ('Terra', 482429),
 ("Snoopy's search-Red baron", 456071),
 ('Sozinho (Hitmakers Classic Mix)', 436636),
 ('Master Of Puppets', 436453),
 ('Stone Crazy', 433397),
 ('Snowblind', 420022),
 ('Computadores Fazem Arte', 404323),
 ('Jerusalem', 402390),
 ('Dazed and Confused', 401920),
 ('The Winner Loses', 392254),
 ('Love, Hate, Love', 387134),
 ('ConstruÃ§Ã£o / Deus Lhe Pague', 383059),
 ('Black Sabbath', 382066),
 ("Livin' On The Edge", 381231),
 ("I Can't Quit You Baby(2)", 380551),
 ('Princess of the Dawn', 375418),
 ('Harvester Of Sorrow', 374543),
 ('Whole Lotta Love', 373394),
 ("Momma's Gotta Die Tonight", 371539),
 ('Vai Passar', 369763),
 ('Wherever I May Roam', 369345),
 ('Overdose', 369319),
 ('N.I.B.', 368770),
 ('O Boto (BÃ´to)', 366837),
 ('Let There Be Rock', 366654),
 ('The Begining... At Last', 365662),
 ('Carolina Hard-Core Ecstasy', 359680),
 ('World Of Trouble', 359157),
 ('Trupets Of Jericho', 359131),
 ('Amazing', 356519),
 ('Under The Sun/Every Day Comes and Goes', 350458),
 ('Welcome Home (Sanitarium)', 350197),
 ('There Goes The Neighborhood', 350171),
 ('Sea Of Sorrow', 349831),
 ('Confusion', 344163),
 ('For Those About To Rock (We Salute You)', 343719),
 ('Shadow on the Sun', 343457),
 ('Balls to the Wall', 342562),
 ('Machine Men', 341655),
 ('I am the Highway', 334942),
 ('Muffin Man', 332878),
 ('Snowblind', 331676),
 ('Go Down', 331180),
 ("Janie's Got A Gun", 330736),
 ("Bring'em Back Alive", 329534),
 ("Sozinho (CaÃªdrum 'n' Bass)", 328071),
 ('Problem Child', 325041),
 ('Whole Lotta Rosie', 323761),
 ('Intro/ Low Down', 323683),
 ('The Unforgiven', 322925),
 ('Love In An Elevator', 321828),
 ('Super Terrorizer', 319373),
 ('The pleasant pheasant', 318066),
 ('Body Count', 317936),
 ('Geni E O Zepelim', 317570),
 ('The Last Remaining Light', 317492),
 ('Crazy', 316656),
 ('You Shook Me', 315951),
 ('Travelling Riverside Blues', 312032),
 ('Noite Do Prazer', 311353),
 ('What It Takes', 310622),
 ('The Curse', 309786),
 ("Cryin'", 309263),
 ('Creeping Death', 308035),
 ('Angel', 307617),
 ('AtrÃ¡s Da Verd-E-Rosa SÃ³ NÃ£o Vai Quem JÃ¡ Morreu', 307252),
 ('Banditismo Por Uma Questa', 307095),
 ('Extra', 304352),
 ('Light My Way', 303595),
 ('Stronger Than Death', 300747),
 ('Voodoo', 300721),
 ('Forgiven', 300355),
 ('Getaway Car', 299598),
 ('Linha Do Equador', 299337),
 ('#1 Zero', 299102),
 ('Onde VocÃª Mora?', 298396),
 ('Walk On Water', 295680),
 ('Mel', 294765),
 ('Moon germs', 294060),
 ('Like a Stone', 294034),
 ('Wake Up', 293485),
 ('Out Of Exile', 291291),
 ('Na Frente Da TV', 289750),
 ('Sad But True', 288208),
 ('Rios Pontes & Overdrives', 286720),
 ('Man In The Box', 286641),
 ('Changes', 286275),
 ('Supernaut', 285779),
 ('The Tower', 285257),
 ('A Sombra Da Maldade', 285231),
 ('Garota De Ipanema', 285048),
 ('Sunshine', 284969),
 ('All I Really Want', 284891),
 ('Blood In The Wall', 284368),
 ('Maracatu AtÃ´mico', 284264),
 ('Lost My Better Half', 284081),
 ('Bye, Bye Brasil', 283402),
 ('King In Crimson', 283167),
 ('Gavioes 2001', 282723),
 ('A Estrada', 282174),
 ('Born To Booze', 282122),
 ('Vida Boa', 281730),
 ('Freedom Of Speech', 281234),
 ('Mary Jane', 280607),
 ('Be Yourself', 279484),
 ('Gasoline', 279457),
 ('Dandelion', 278125),
 ('Show Me How to Live', 277890),
 ("It Ain't Like That", 277577),
 ("Heaven's Dead", 276688),
 ('Like A Bird', 276532),
 ('Vai-Vai 2001', 276349),
 ('Flor Do Futuro', 275748),
 ('Do what cha wanna', 274155),
 ('X-9 2001', 273920),
 ('Yesterday To Tomorrow', 273763),
 ('Phoney Smile Fake Hellos', 273606),
 ('Maracatu AtÃ´mico [Atomic Version]', 273084),
 ('A Cor Do Sol', 273031),
 ('200 Years Old', 272561),
 ('Samidarish [instrumental]', 272431),
 ('The Beginning...At Last', 271960),
 ('Canta, Canta Mais', 271856),
 ('Samba Makossa', 271856),
 ('Spellbound', 270863),
 ('Killing Floor', 269557),
 ('Bad Boy Boogie', 267728),
 ('Head Over Feet', 267493),
 ('SÃ¡bado A Noite', 267363),
 ('Felicidade Urgente', 266605),
 ('A.N.D.R.O.T.A.Z.', 266266),
 ('Gates Of Urizen', 265351),
 ('Dude (Looks Like A Lady)', 264855),
 ('The Wizard', 264829),
 ('Rag Doll', 264698),
 ('FÃ©rias', 264202),
 ("I Can't Quit You Baby", 263836),
 ('Evil Walks', 263497),
 ('Breaking The Rules', 263288),
 ('Set It Off', 263262),
 ('I Know Somethin (Bout You)', 261955),
 ('Quadrant', 261851),
 ('What is and Should Never Be', 260675),
 ('Meu Caro Amigo', 260257),
 ('ConciliaÃ§Ã£o', 257619),
 ('Onde VocÃª Mora?', 256026),
 ("Doesn't Remind Me", 255869),
 ('Your Time Has Come', 255529),
 ('Johnny B. Goode', 254615),
 ("Hell Ain't A Bad Place To Be", 254380),
 ('Amor Demais', 254040),
 ('Cada Um Cada Um (A Namoradeira)', 253492),
 ('Dindi (Dindi)', 253178),
 ('Restless and Wild', 252051),
 ('Ligia', 251977),
 ('A Luz De Tieta', 251742),
 ('Da Lama Ao Caos', 251559)]

In [26]:
#Q9Find how much amount spent by each customer on artists?Write a query to return customer name, artist name and total spent
cur.execute('''select c.customer_id,concat(c.first_name, " ", last_name) as full_name, bsa.artist_name,
            sum(il.unit_price*il.quantity)
            as amount_spent from invoice as i
			join customer as c on i.customer_id=c.customer_id join invoice_line as il on il.invoice_id=i.invoice_id join track 
            as t on t.track_id=il.track_id join album as alb
            on alb.album_id=t.album_id join (select concat(c.first_name, " ",c.last_name) as full_name,
            a.name as artist_name,
            a.artist_id as artistID,
            sum(il.unit_price*il.quantity) as total_sale
            from artist as a 
            join album as al on a.artist_id=al.artist_id 
            join track on track.album_id=al.album_id
            join invoice_line as il on track.track_id=il.track_id 
            join invoice on invoice.invoice_id=il.invoice_id 
            join customer as c on c.customer_id=invoice.customer_id 
            group by 3 order by 4 desc limit 1) as bsa on bsa.artistID=alb.artist_id group by 1,2,3 order 
            by 4 desc
            ''')
cur.fetchall()

[(54, 'Steve Murray', 'AC/DC', 17.82),
 (53, 'Phil Hughes', 'AC/DC', 10.89),
 (21, 'Kathy Chase', 'AC/DC', 10.89),
 (49, 'StanisÅ‚aw WÃ³jcik', 'AC/DC', 9.9),
 (1, 'LuÃ\xads GonÃ§alves', 'AC/DC', 7.920000000000001),
 (24, 'Frank Ralston', 'AC/DC', 7.920000000000001),
 (31, 'Martha Silk', 'AC/DC', 3.96),
 (16, 'Frank Harris', 'AC/DC', 2.9699999999999998),
 (42, 'Wyatt Girard', 'AC/DC', 2.9699999999999998),
 (6, 'Helena HolÃ½', 'AC/DC', 2.9699999999999998),
 (38, 'Niklas SchrÃ¶der', 'AC/DC', 2.9699999999999998),
 (35, 'Madalena Sampaio', 'AC/DC', 2.9699999999999998),
 (44, 'Terhi HÃ¤mÃ¤lÃ¤inen', 'AC/DC', 2.9699999999999998),
 (9, 'Kara Nielsen', 'AC/DC', 1.98),
 (34, 'JoÃ£o Fernandes', 'AC/DC', 1.98),
 (57, 'Luis Rojas', 'AC/DC', 1.98),
 (27, 'Patrick Gray', 'AC/DC', 1.98),
 (20, 'Dan Miller', 'AC/DC', 1.98),
 (30, 'Edward Francis', 'AC/DC', 1.98),
 (5, 'FrantiÅ¡ek WichterlovÃ¡', 'AC/DC', 1.98),
 (47, 'Lucas Mancini', 'AC/DC', 0.99),
 (43, 'Isabelle Mercier', 'AC/DC', 0.99),
 (19, 'Tim Goyer', 'AC/DC', 0.99),
 (39, 'Camille Bernard', 'AC/DC', 0.99),
 (8, 'Daan Peeters', 'AC/DC', 0.99),
 (15, 'Jennifer Peterson', 'AC/DC', 0.99),
 (58, 'Manoj Pareek', 'AC/DC', 0.99),
 (46, "Hugh O'Reilly", 'AC/DC', 0.99),
 (32, 'Aaron Mitchell', 'AC/DC', 0.99),
 (45, 'Ladislav KovÃ¡cs', 'AC/DC', 0.99),
 (29, 'Robert Brown', 'AC/DC', 0.99),
 (26, 'Richard Cunningham', 'AC/DC', 0.99),
 (17, 'Jack Smith', 'AC/DC', 0.99),
 (14, 'Mark Philips', 'AC/DC', 0.99),
 (2, 'Leonie KÃ¶hler', 'AC/DC', 0.99),
 (56, 'Diego GutiÃ©rrez', 'AC/DC', 0.99),
 (48, 'Johannes Van der Berg', 'AC/DC', 0.99),
 (13, 'Fernanda Ramos', 'AC/DC', 0.99),
 (55, 'Mark Taylor', 'AC/DC', 0.99),
 (7, 'Astrid Gruber', 'AC/DC', 0.99),
 (59, 'Rishabh Mishra', 'AC/DC', 0.99),
 (10, 'Eduardo Martins', 'AC/DC', 0.99)]

In [ ]:
# Q10 We want to find out the most popular music Genre for each country. We determine the most popular genre as the genre with
# the highest amount of purchases. Write a query that returns each country along with the top Genre.
# For countries where the maximum number of purchases is shared return all Genres
cur.execute()
cur.fetchall()